{%extends "admin_layout.html"%}
{%block content%}
                <div class="login-container">
                    <h1>Add Show</h1>
                    <form action="/show/{{tid}}/{{uname}}" method="POST">
                        <div class="input-group">
                            <label for="name">Show name</label>
                            <input name="name" type="text" id="name" placeholder="Enter show name" required>
                        </div>
                        <div class="input-group">
                            <label for="tags">Tags</label>
                            <input name="tags" type="text" id="tags" placeholder="#Drama #Comedy #Romance" required>
                        </div>

                        <div class="input-group">
                            <label for="price">Ticket Price</label>
                            <input name="price" type="number" id="price" placeholder="Ticket price in INR">
                        </div>

                        <div class="input-group">
                            <label for="d&t">Date & time </label>
                            <input name="d&t" type="datetime-local" id="d&t" placeholder="1990-12-31 23:59">
                        </div>

                        <div class="input-group">
                            <label for="id">Theatre ID</label>       
                            <input name="id" type="number" id="id"  value="{{tid}}" readonly>  <!-- This is for only read the data but not show in page  -->
                        </div>
                        <button type="submit">Submit</button>
                        <a href="/admin/{{uname}}" type="button" class="btn">Go Back</a>
                        <div class="center">{{msg}}</div>
                    </form>
                </div>
{%endblock%}